@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

html {
    --s: 60px; /* control the size */
    --c1: #000000;
    --c2: #3b232d;
    
    --_g: radial-gradient(25% 25% at 25% 25%,var(--c1) 99%,#0000 101%);
    background:
     var(--_g) var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
     var(--_g) 0 0/calc(2*var(--s)) calc(2*var(--s)),
     radial-gradient(50% 50%,var(--c2) 98%,#0000) 0 0/var(--s) var(--s),
     repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%) 
       calc(.5*var(--s)) 0/calc(2*var(--s)) var(--s);  
  }

body {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}
  
.header{
    font-family: 'Silkscreen', sans-serif;
    padding: 30px;
    background-color: aliceblue;
    margin: 180px;
    border-radius: 30px 10px;
    color: #1c6a1f;
}
  
.soundboard {
    display: inline-block;
    margin: 20px;
}
  
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    margin-bottom: 10px;
    border-radius: 30px 10px;
    margin: 0;
    padding: 0;
}
  
audio {
    display: none;
}
  