@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Tangerine:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #090302;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1{
    margin: 100px auto;
    width: 70%;
    flex-direction: column;
}

.pic-1{
    background-color: #F4EBE8;
    border-radius: 20px 90px;
    padding: 70px;
    margin: 50px;
}

img{
    width: 525px;
    height: 300px;

    float: left;

    border-radius: 20px;
    border: 5px solid rgb(170, 0, 0);

    margin-right: 40px;
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 70px;

    color: rgb(170, 0, 0);
}

p{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    color: rgb(170, 0, 0);
    text-align: left;
    margin: 40px;
}

