body {
  --s: 150px; /*background from https://freefrontend.com/css-background-patterns/ */
  background:
      linear-gradient(135deg, #0000 18.75%, #F7EDE2 0 31.25%, #0000 0),
      repeating-linear-gradient(45deg, #F7EDE2 -6.25% 6.25%, #ebcfcbbb 0 18.75%);
  background-size: var(--s) var(--s); 
/* Removes the dafault settings of the page */
  margin: 0;
  padding: 0;
/* centers the contents */
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; /* full height of the viewport */
}

/* Styling for the calculator's container */
.container {
  max-width: 400px;
  padding: 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header */
h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 50px;
  
  color: #F46197;
}

/* Contents of the calculator responsible for inputs */
.calculator {
  margin-bottom: 20px;
}

/* Styling for all the labels */
label {
  font-family: 'Outfit', sans-serif;

  display: block;
  margin-bottom: 5px;
}

/* Styling for all the input fields */
input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px; /* Spacing between the input fields */

  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the button */
button {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;

  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Distance from the last input field */

  background-color: #4ca5af;
  color: #fff; 

  border: none;
  border-radius: 5px;

  cursor: pointer; /* changes curser style to pointer */
  transition: background-color 0.3s; /* smooth transition to another color */
}

button:hover {
  background-color: #F46197; /* color change transition */
}

p {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
}
